
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e0f5fc;
    }

    .title {
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .date-month {
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    .day-container, .grid-container {
        position: absolute; 
        display: grid; 
        grid-template-columns: repeat(8, 1fr); 
        padding: 10px;
        width: 80vw; 
        max-width: 1400px;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .day-container {
        top: 10vh;   
        left: 12vw;  
    }

    .grid-container {
        top: 23vh;   
        left: 3vw;
    }
    .grid-item {
        color: black;
        border: solid rgb(155, 155, 155) 0.3px;
        padding: 40px;
        padding-right: 20px;
        padding-left: 20px;
        height: 80px;
        text-align: center;
        font-size: 30px;
        background-color: white;
    }

    #griglia {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, auto)); 
    gap: 0; 
}

#griglia > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    padding: 5px;
    box-sizing: border-box; 
}

.input-cella {
    min-width: 40px;
    max-width: 100%;       
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    outline: none;
    z-index: 10;
    padding: 2px 5px;
    
    word-break: break-word; 
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
