
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e0f5fc;
    }

    .title {
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .date-month {
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    .grid-container {
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        background-color: white;
        padding: 10px;
        max-width: 1000px;
    }

    .grid-item {
    color: black;
    border: solid rgb(155, 155, 155) 0.3px;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    }