
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e0f5fc;
    }

    .title {
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .date-month {
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    .day-container, .grid-container {
        position: absolute; 
        display: grid; 
        grid-template-columns: repeat(8, 1fr); 
        padding: 10px;
        width: 80vw; 
        max-width: 1400px;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .day-container {
        top: 10vh;   
        left: 12vw;  
    }

    .grid-container {
        top: 23vh;   
        left: 3vw;
    }
    .grid-item {
        color: black;
        border: solid rgb(155, 155, 155) 0.3px;
        padding: 40px;
        height: 80px;
        text-align: center;
        font-size: 30px;
        background-color: white;
    }
